<h2>Library Books</h2>
<input type="text" class="form-control" ng-model="searchText" placeholder="Search Books">
<div ng-repeat="book in booksIndexCtrl.books | orderBy: 'author' | filter: searchText">
  <div class="container">
<!-- SEARCH AREA GOES HERE -->
    <div class="">

    </div>
    <div class="row">
      <div class="container-fluid">
        <div class="image col-xs-6">
          <img class="img-responsive col-xs-12" ng-src={{book.image}} alt="Dat's a book picture!">
        </div>
        <div class="container col-xs-6">
          <div class="author">
            <span><b>Author: </b> {{book.author}}</span>
          </div>
          <div class="title">
            <a ng-href="/books/{{book._id}}"><b>Title: </b>{{book.title}}</a>
          </div>
          <div class="release">
            <span><b>Release Date: </b>{{book.releaseDate}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
